*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-size: 20px;
  font-family: sans-serif;
  background-color: rgb(0, 0, 0);
  background-image: url("img/aardappel-man.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  display: inline-block;
  font-size: 250%;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

header{
  margin: 0 auto;
  padding: 40px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

ul.navi {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.navi {
  float: left;
}

li.navi a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navi a:hover {
  background-color: #111;
}

#img{
  position: absolute;
  top: 120px;
}

div.slideshow {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.slideshow a {
  color: white;
  border: 3px solid white;
  border-radius: 50px;
  padding: 10px;
  position: absolute;
  top: 170px;
  left: 680px;
  background-color: transparent;
  opacity: 50%;
} 

div.slideshow a:hover {
  background-color: gray;
  transform: scale(1.2);
}

div.slideshow img {
  width: 1100px;
  height: 300px;
  position: absolute;
  top: 150px;
  border-radius: 10px;
}

.buttonNext {
  border: 1px solid white;
  border-radius: 50px;
  padding: 5px;
  color: chartreuse;
  background-color: black;
  display: block;
  width: 50px;
  position: absolute;
  left: 1290px;
  top: 250px;
  opacity: 60%;
  text-align: center;
}

.buttonPrevious {
  border: 1px solid white;
  border-radius: 50px;
  padding: 5px;
  color: chartreuse;
  background-color: black;
  display: block;
  width: 50px;
  position: absolute;
  left: 195px;
  top: 250px;
  opacity: 60%;
  text-align: center;
}

.buttonNext:hover {
  background-color: gray;
  transform: scale(1.2);
}

.buttonPrevious:hover {
  background-color: gray;
  transform: scale(1.2);
}

.paragraph {
  color: white;
  width: 300px;
  display: block;
  padding-left: 40px;
  padding-bottom: 40px;
  text-align: left;
}

.paragraph p{
  padding: 10px;
  height: 260px;
  background-color: black;
}

.beginning{
  position: absolute;
  top: 440px;
  width: 370px;
  left: 210px;
  border-radius: 10px 0px 0px 10px;
}

.koninklijk{
  position: absolute;
  top: 440px;
  left: 580px;
  width: 370px;
}

.rijks{
  position: absolute;
  top: 440px;
  left: 950px;
  width: 370px;
  border-radius: 0px 10px 10px 0px;
}

.infobutton{
  border: 1px white solid;
  border-radius: 25px;
  color: white;
  padding: 10px;
  position: absolute;
  top: 200px;
  left: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.imggal{
  position: absolute;
  top: 740px;
  left: 725px;
  width: 600px;
  background-color: black;
}

div.gallery {
  margin: 5px;
  border: 2px solid #ccc;
  float: right;
  width: 180px;
}

div.imggallery {
  margin: 5px;
  border: 2px solid #ccc;
  float: right;
  width: 180px;
}

div.gallery img {
  width: 100%;
  height: 150px;
}

div.imggallery img {
    width: 100%;
    height: 150px;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: black;
  color: white;
}

div.tentoonstelling {
  height: 444px;
  width: 520px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  color: white;
  background-color: black;
  position: absolute;
  top: 740px;
  left: 210px;
}

div.tentoonstelling h3 {
  border-bottom: 1px solid white;
  width: 46%;
}

p.tentoon {
  padding-bottom: 40px;
}

.interactieveRoute{
  height: 500px;
  width: 1110px;
  background-color: white;
  position: absolute;
  top: 1210px;
  left: 210px;
  opacity: 25%;
}

.commands{
  height: 100px;
  width: 1110px;
  background-color: white;
  position: absolute;
  top: 1730px;
  left: 210px;
  opacity: 25%;
}

.review{
  height: 250px;
  width: 1110px;
  background-color: white;
  position: absolute;
  top: 1890px;
  left: 210px;
  opacity: 25%;
}

.review1{
  height: 250px;
  width: 350px;
  background-color: gray;
  opacity: 30%;
  border-radius: 20px;
}

.review2{
  height: 250px;
  width: 350px;
  background-color: gray;
  opacity: 30%;
  position: absolute;
  left: 380px;
  top: 0px;
  border-radius: 20px;
}

.review3{
  height: 250px;
  width: 350px;
  background-color: gray;
  opacity: 30%;
  position: absolute;
  left: 760px;
  top: 0px;
  border-radius: 20px;
}

button{
  height: 50px;
  width: 100px;
  position: fixed;
  top: 25px;
  right: 60px;
  background-color: rgb(196, 49, 49);
  color: #111;
  border-radius: 5px;
}

button:hover{
  background-color: brown;
}

button a{
  color: #111;
}

footer {
  color: white;
  background-color: black;
  padding-left: 40px;
  text-align: left;
  position: absolute;
  top: 2200px;
  width: 100%;
  height: 200px;
}

footer .vestiging{
  position: absolute;
  top: 10px;
  left: 650px;
}

footer .rijksmuseumcon{
  position: absolute;
  top: 10px;
  left: 220px;
}

footer .bezoeker{
  position: absolute;
  top: 10px;
  left: 1100px;

}

p.open {
  padding-bottom: 20px;
  position: absolute;
  bottom: 0px;
  left: 220px;
}

.mail{
  position: absolute;
  bottom: 20px;
  left: 650px;
  color: white;
}

.tel{
  position: absolute;
  bottom: 20px;
  left: 1100px;
  color: white;
}

