*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 20px;
    font-family: sans-serif;
    background-image: url("img/1240.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    display: inline;
    font-size: 250%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

header{
    margin: 0 auto;
    padding: 40px;
    background-color: black;
    color: white;
}

ul.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li.navi {
    float: left;
  }
  
  li.navi a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.navi a:hover {
    background-color: #111;
  }

  .paragraph {
    color: white;
    width: 50%;
    display: block;
    padding-left: 40px;
    padding-bottom: 40px;
  }

  article{
      color: white;
      margin: 40px;
      width: 40%;
      float: right;
      display: inline;
      position: absolute;
      top: 160px;
      right: 10px;
  }

  div.gallery {
    margin: 5px;
    border: 2px solid #ccc;
    float: right;
    width: 180px;
  }

  div.imggallery {
    margin: 5px;
    border: 2px solid #ccc;
    float: right;
    width: 180px;
  }
  
  div.gallery img {
    width: 100%;
    height: 225px;
  }

  div.imggallery img {
      width: 100%;
      height: 150px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    background-color: black;
  }

  div.tentoonstelling {
    padding-left: 40px;
    padding-right: 40px;
    color: white;
  }

  div.tentoonstelling h3 {
    border-bottom: 1px solid white;
    width: 32%;
  }

  p.tentoon {
    padding-bottom: 40px;
  }

  footer {
    color: white;
    background-color: black;
    padding-left: 40px;
    text-align: center;
  }

  footer h3 {
    padding: 10px;
  }

  p.open {
    padding-bottom: 20px;
  }

  div.slideshow {
    position: absolute;
    left: 907px;
    top: 750px;
  }

  div.slideshow a {
    color: white;
    border: 3px solid white;
    border-radius: 50px;
    padding: 10px;
    position: absolute;
    top: 75%;
    left: 35%;
    background-color: transparent;
    opacity: 50%;
  } 

  div.slideshow a:hover {
    background-color: gray;
    transform: scale(1.2);
  }

  div.slideshow img {
    width: 557px;
    height: 300px;
  }

  .buttonNext {
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px;
    color: chartreuse;
    background-color: black;
    display: block;
    width: 50px;
    position: absolute;
    left: 530px;
    top: 50%;
    opacity: 60%;
    text-align: center;
  }

  .buttonPrevious {
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px;
    color: chartreuse;
    background-color: black;
    display: block;
    width: 50px;
    position: absolute;
    left: -25px;
    top: 50%;
    opacity: 60%;
    text-align: center;
  }

  .buttonNext:hover {
    background-color: gray;
    transform: scale(1.2);
  }

  .buttonPrevious:hover {
    background-color: gray;
    transform: scale(1.2);
  }